.extdividerhor {
	background-image: url(../images/divider_h_fade.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	}

.hrblimg {
	border: medium solid #FF0;	
	}


.logo{
	float:left;


	
	
}

.logo h2{
	float: left;
	margin: auto auto auto 5px;
	
	
}
.logo img{
	float: left;
	height: 40px;
	
}

section{
		padding: 20px 0px 10px 0px;
	
}

section#one { 
	background:none;
	padding: 80px 0px 90px 0px;
	

	
	
	
	}

.row.top{
	margin-bottom: 20px;
	
	
}



/*  section#one	p, section#five	p {
color: white;
	
}	*/


	
	
section#two {
	box-shadow: inset 0 30px 70px rgba(0,0,0,.2);
	border-bottom: 1px solid darkgray;
	border-top: 1px solid #3382D1;
	background: #00417C;
	color: #fff;
	padding: 150px 0px 250px 0px;
	}
	
	
section#three {
	
	color: #fff;
	padding: 200px 0px 200px 0px;
	/*use bkg linear background*/
	/*box-shadow: inset 0 150px 250px rgba(0,0,0,.5);*/
	
	}
	
section#four {
	box-shadow: inset 0 30px 70px rgba(0,0,0,.2);
	border-bottom: 1px solid darkgray;
	border-top: 1px solid #3382D1;
	background: #00417C;
	color: #fff;

	padding: 150px 0px 200px 0px;
	
	
	}
	
section#five {
	color: black;
	/*use bkg linear background*/
	/*box-shadow: inset 0 150px 250px rgba(0,0,0,.5);*/
	padding: 150px 0px 200px 0px;
	
	
	}
	
section#six{
	box-shadow: inset 0 30px 70px rgba(0,0,0,.2);
	border-bottom: 1px solid darkgray;
	border-top: 1px solid #3382D1;
	background: #00417C;
	color: #fff;
	padding: 150px 0px 200px 0px;
	
	
	}
	
	
.modal h2, section h2{
color: #ffffff;
text-shadow:0px 0px 0 rgb(187,187,187), 1px 1px 0 rgb(133,133,133),2px 2px 1px rgba(0,0,0,0.1),2px 2px 1px rgba(0,0,0,0.5),0px 0px 1px rgba(0,0,0,.2);}
body.blue{
background-color: #67B3E7;
}

body,td,th: {color: #FFF;
}

.main-logo{

	position: fixed;
	margin: 0px 0px 0px 398px;
	top: 5px;
	}

#slideshow{

	height:350px;
	background-color: white;
	box-shadow: #414769 0px 0px 5px;
	margin: 85px 0px 20px 0px;
	}




.line-two{
	font-size: 10px;
	padding: 0pc 5px 0px 1px;
	}

img.countdown{
	margin: 1px 10px 0px 0px; 
	}






.image-container{
	
	height: 110px;
	width: 110px;
	display: block;
	position: relative;
	border: white solid 2px;
	
	
	
	
}



.first.speaker .image-container{
	background-image: url('../images/img-deswalsh.jpg');
	background-size: 100% auto;
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,1.5);
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,1.5);
	box-shadow: 0px 0px 3px rgba(0,0,0,1.5);
	
	
}

.second.speaker .image-container{
	background-image: url('../images/img-michaeljohnson.jpg');
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,1.5);
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,1.5);
	box-shadow: 0px 0px 3px rgba(0,0,0,1.5);
	
	
}

.last.speaker .image-container{
	background-image: url('../images/img-rociomedina.jpg');
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,1.5);
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,1.5);
	box-shadow: 0px 0px 3px rgba(0,0,0,1.5);

	
}


.image-border{
	height: 110px;
	width: 110px;
	background-color: #ffbe00;
	display: block;
	padding: 5px 09px 09px 5px;
	margin: 0px 0px 0px 0px;
	-moz-box-shadow: 2px -1px 6px rgba(0,0,0,0.5);
	-webkit-box-shadow: 2px -1px 6px rgba(0,0,0,0.5);
	box-shadow: 2px -1px 6px rgba(0,0,0,0.5);
}	
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	
	border-top: 8px solid #ffbe00;
	margin: 0px 0px 15px 10px;
}
	


footer{
	background-image:url('../images/bg-footer.jpg');
	padding: 30px 0px 60px 0px;

	
	
	
}

footer h4, footer li{
	color: #666;
	text-shadow: black 1px;
	
	
	
}




.content li{
	margin: 5px 0px 5px 0px;
	display: inline-block;
	float: left;
	padding: 0px;
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	
		
}

.content i{
	float: left;
	width: 20px;
	display: block;
	height: 20px;
	border-right: 1px solid grey;
	margin: 5px 8px 0px 8px;
	padding: 4px 0px 1px 6px;
	
	
	
}
	
.content li p{
	display: block;
	float: left;
	width: 200px;
	margin: 7px auto 14px 0px;
}


/*--- EXT NAV */

#rays  { /* with animation properties */
background: url('../images/rays.png') 0 0 no-repeat;
background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
background-image: url(../images/rays.png);
background-repeat-x: no-repeat;
background-repeat-y: no-repeat;
background-attachment: initial;
background-position-x: 0px;
background-position-y: 0px;
background-origin: initial;
background-clip: initial;
background-color: initial;
position: absolute;
top: -510px;
left: -320px;
width: 1000pt;
height: 1200pt;
-webkit-animation-name: spin;
-webkit-animation-duration: 40000ms;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
-moz-animation-name: spin;
-moz-animation-duration: 40000ms;
-moz-animation-iteration-count: infinite;
-moz-animation-timing-function: linear;
-ms-animation-name: spin;
-ms-animation-duration: 40000ms;
-ms-animation-iteration-count: infinite;
-ms-animation-timing-function: linear;
-o-transition: rotate(3600deg);
z-index: -10;
}

#three .temp{
	font-size: 116px;
	   text-shadow: 
	   			2px 2px #fe4902, 
                3px 3px #fe4902, 
                4px 4px #fe4902,
                5px 5px #fe4902,  
                6px 6px #fe4902,
                7px 7px #fe4902;  
                
}
	
	
	
/* Calender ------------- */


.calendar ul, .calendar ol {
		padding:0px;
		margin: 0px
}
	

ol.calendar    {

width:65em;margin:0 auto;display:block; min-height: 200px;
			}
li		{list-style:none;}
p.link		{text-align:center;display: block;}
h1		{display: block; width: 200px;height:76px;
			background:url('../images/july.png');text-indent:-9999px; margin: 15px auto; }

/*
 * Day styles
 -------------------------*/
li li		{color:black;width:7em;height:7em;float:left;margin:.2em; padding:1em;overflow:auto;
			background: url('../images/day-bg.png') bottom right no-repeat; }

/*
 * Day content (UL/OL & P)
 -------------------------*/
li li p	 {font-size:.7em;display:block;}
li li ol	 {width:auto;}
li li ul li,
li li ol li     {font-size:.8em;display:block;height:auto;width:auto; background: none;
			margin:0;padding:0;float:none; font-weight: bold;}

/*
 * Holiday class
 -------------------------*/
li li.holiday    {  }

/*
 * Inactive months
 -------------------------*/
li#lastmonth li,
li#nextmonth li    { background: url('../images/day-bg-inactive.png');}



/* Countdown -------------------------*/

.countdownWrap{
	background: rgba(0, 0, 0, .25);
border-radius: 5px;
padding: 0px 0px 0px 0px;
box-shadow: 0 0 1px rgba(255, 255, 255, .3), inset 0 0 5px rgba(0, 0, 0, 1.0);
height: 146px;
border-bottom: 1px solid white;
	
	
	
}

.countdownHolder{
	width: 593px;
	height: 150px;
	position: relative;
	margin: 0px auto 35px auto;
	color: white;
	padding: 5px 0px 0px 0px;
}

.countdownHolder .position{
	display: block;
	float: left;
	width: 74px;
	height: 136px;
	overflow: hidden;
	position: relative;
	
	
}

.countdownHolder .digit{
	position:absolute;
	display:block;
	width: 223px;
	height: 8976px;
	background: url('../images/frame.png') no-repeat 0 0;
	z-index: 1;
}
.countdownHolder>span{
	width: 148px;
	height: 136px;
	float: left;
}
.countdownHolder .position .countWord{
	width:592px;
	height: 544px;
	background: url('../images/words.png') no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

/* Buynow button ------------------------------------*/

a.buy-now.large {
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    text-shadow: -1px -2px rgba(0, 0, 0, 0.2);
    background-color: rgba(219,87,5,1);
    font-weight: 700;
    font-size: 5em;
    display: block;
    padding: 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    box-shadow: 0px 9px 0px rgba(219,31,5,1), 0px 9px 25px rgba(0,0,0,.7);
    margin: 35px auto;
	width: 325px;
	height: 24px;
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

a.buy-now.large:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

a.buy-now.small {
	float: right;
	position: relative;
    color: rgba(255,255,255,1);
    text-decoration: none;
    text-shadow: -1px -2px rgba(0, 0, 0, 0.2);
    background-color: rgba(219,87,5,1);
    font-weight: 700;
    font-size: 1.3em;
    display: block;
    padding: 4px 5px 4px 6px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 6px 0px rgba(219,31,5,1), 0px 6px 10px rgba(0,0,0,.7);
    -moz-box-shadow: 0px 6px 0px rgba(219,31,5,1), 0px 6px 10px rgba(0,0,0,.7);
    box-shadow: 0px 6px 0px rgba(219,31,5,1), 0px 6px 10px rgba(0,0,0,.7);
	text-align: center;
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
	margin: 0px 10px 0px 0px;
}

a.buy-now.small:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    position: relative;
    top: 6px;
}

.top-button-container{
	float: left;
	text-align: left;
	margin: 10px 10px 0px 0px;
	
	
}


#toTop {
	display: block;
	position: fixed;
	top: 75%;
	right: 0;

	
	

	
	
   
	
	
	
	
}

/* user menu settings */ 
#dropdown { 
	right:19px;
	z-index:20;
	display: block; 
	text-align:right;
	padding: 3px 5px 4px 10px; 
	 
	margin: 10px 0px 0px 0px; 
	position: relative; 
	cursor: pointer; 
	border-right: 4px solid #fff;
	 
	font-size: 1.2em; 
	color: #fff; 
	font-weight: normal; 
	
	-webkit-transition: all 0.15s linear; 
	-moz-transition: all 0.15s linear;
	 -ms-transition: all 0.15s linear; 
	 -o-transition: all 0.15s linear; 
	 transition: all 0.15s linear; 
} 
#dropdown:hover { 
	color: #898989; 
} 
#dropdown.open { 
	background: #5a90e0; 
	color: #fff; 
	border-left-color: #fe4902; 
}

#dropdown ul { 
	position: absolute; 
	top: 100%; 
	right: -4px; /* move content -4px because of container left border */ 
	width: 150px; padding: 3px 0px; 
	display: none; border-right: 4px solid #fe4902; 
	background: #fff; -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3); 
	-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3); 
	box-shadow: 1px 1px 2px rgba(0,0,0,0.3); } 
#dropdown ul li { 
	font-size: 0.9em; 
	text-align:right;
	
	
	}

 #dropdown ul li a { 
	text-decoration: none; 
	display: block;
	color: #447dd3;
	padding: 5px 15px; } 
#dropdown ul li a:hover { 
	 color: #6fa0e9; 
	 background: #e7f0f7; 
}



/*slides 

*/


	/*
			Load CSS before JavaScript
		*/
		
		/*
			Slides container
			Important:
			Set the width of your slides container
			Set to display none, prevents content flash
		*/
		.slides-container {
			width:470px;
			display:none;
		}

		/*
			Each slide
			Important:
			Set the width of your slides
			If height not specified height will be set by the slide content
			Set to display block
		*/
		.slides-container div {
			width:470px;
			height:170px;
			display:block;
		}
		
		/*
			Optional:
			Reset list default style
		*/
		.pagination {
			list-style:none;
			margin:0;
			padding:0;
		}

		/*
			Optional:
			Show the current slide in the pagination
		*/
		.pagination .current a {
			color:red;
		}


