header{
	background-color: #333;
	background-image: -moz-linear-gradient(left, right, from(#6EC4FF), color-stop(50%, #6DB9EA), to(white));
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #66B3E7), color-stop(50%, #95D2FF), color-stop(100%, 		#66B3E7));	
	width: 100%;
	height: 120px;
	position: fixed;
	border-bottom: 1px solid #407AA9;
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,.2);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,.2);
	box-shadow: 0px 0px 4px rgba(0,0,0,.2);


		
	
}






nav a {
	font-weight: bold;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-size: 16px;
	color: #000000;
	text-decoration: none;
	display: block;
	margin: 0;
	text-shadow: 0px 1px 0px #E3E3E3;
}

.nav.one{
	float: right;
	padding: 0px 67px 0px 0px;

	
}

.nav.one li{
	float:left;
	margin-right: 20px;
	
	
	
}




.nav.two{
	float: left;
	padding: 0px 0px 0px 100px;
	
	
}

.nav.two li{
	float:right;
	margin-right: 20px;
	
	
	
}


.calendar li{
	color: #fff;
	
	
	
	
}





.nav li.active  a,
.nav li:hover > a {
	color: white;
	text-shadow: 0px 1px 1px grey;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}


nav {
  display: inline-block;
  margin: 17px 0px 0px 0px;
}
  html[xmlns] nav {
  display: block;
}
* html nav {
  height: 1%;
}




/*--- Counter ----*/



.getintouch .social li{
	margin: 10px 0px 5px 0px;
	float: left;
	display: block;
	clear: left;
	
	
	
}

.getintouch .social img{
	float: left;
	display: block;
	margin: 0px 10px 0px 0px;

}


.getintouch .social a.link{
	float: right;
	display: block;
	margin: 6px 0px 0px 0px;
	color: white;
}

