/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Clearing */



/* #Base 960 Grid
================================================== */

    .container                                  { position:relative; width:960px; margin:0 auto; padding:0; }
    .col1, .col2, .col3, .col4, 
    .col5, .col6, .col7, .col8, 
    .col9, .col10, .col11, .col12,
    .quarter, .third, .half, .two-thirds        { float:left; display:inline; margin-left:10px; margin-right:10px; }
    .row                                        { margin-bottom:20px; }
    .col1 > .row, .col2 > .row, .col3 > .row,
    .col4 > .row, .col5 > .row, .col6 > .row,
    .col7 > .row, .col8 > .row, .col9 > .row,
    .col10 > .row, .col11 > .row, .col12 > .row { margin-bottom:0; }

    /* Gridsample is for styleguide reference only. Do NOT use class .gridsample anywhere other than styleguide page. */
    .gridsample .col1, .gridsample .col2, 
    .gridsample .col3, .gridsample .col4, 
    .gridsample .col5, .gridsample .col6, 
    .gridsample .col7, .gridsample .col8, 
    .gridsample .col9, .gridsample .col10, 
    .gridsample .col11, .gridsample .col12,
    .gridsample .quarter, .gridsample .third,
    .gridsample .half, .gridsample .two-thirds  { background:#efefef; text-align:center; min-height:30px; line-height:30px; }
    .gridsample > .row:hover div                { background:#CCC; }
    .gridsample > .row div > .row div           { background:#DDD; }

    /* Nested col Classes */
    .first              { margin-left:0; }
    .last               { margin-right:0; }

    /* Base Grid */
    .col1                    { width: 60px;  }
    .col2                    { width: 140px; }
    .col3, .quarter          { width: 220px; }
    .col4, .third            { width: 300px; }
    .col5                    { width: 380px; }
    .col6, .half             { width: 460px; }
    .col7                    { width: 540px; }
    .col8, .two-thirds       { width: 620px; }
    .col9                    { width: 700px; }
    .col10                   { width: 780px; }
    .col11                   { width: 860px; }
    .col12                   { width: 940px; }
    
    /* Offsets */
    .offset1                 { padding-left: 80px;  }
    .offset2                 { padding-left: 160px; }
    .offset3                 { padding-left: 240px; }
    .offset4                 { padding-left: 320px; }
    .offset5                 { padding-left: 400px; }
    .offset6                 { padding-left: 480px; }
    .offset7                 { padding-left: 560px; }
    .offset8                 { padding-left: 640px; }
    .offset9                 { padding-left: 720px; }
    .offset10                { padding-left: 800px; }
    .offset11                { padding-left: 880px; }
    
    
    /* view */
    .view-medium-down			{ display: none}
    .view-small					{ display: none}
    .view-medium				{ display: none}


/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                          { width: 768px; }
        .col1, .col2, .col3, .col4, 
        .col5, .col6, .col7, .col8, 
        .col9, .col10, .col11, .col12       { margin-left: 10px; margin-right: 10px;  }
        .first                              { margin-left: 0; margin-right: 10px; }
        .last                               { margin-right: 0; margin-left: 10px; }

        .col1                    { width: 44px; }
        .col2                    { width: 108px; }
        .col3, .quarter          { width: 172px; }
        .col4, .third            { width: 236px; }
        .col5                    { width: 300px; }
        .col6, .half             { width: 364px; }
        .col7                    { width: 428px; }
        .col8, .two-thirds       { width: 492px; }
        .col9                    { width: 556px; }
        .col10                   { width: 620px; }
        .col11                   { width: 684px; }
        .col12                   { width: 748px; }

        /* Offsets */
        .offset1                 { padding-left: 64px; }
        .offset2                 { padding-left: 128px; }
        .offset3                 { padding-left: 192px; }
        .offset4                 { padding-left: 256px; }
        .offset5                 { padding-left: 320px; }
        .offset6                 { padding-left: 384px; }
        .offset7                 { padding-left: 448px; }
        .offset8                 { padding-left: 512px; }
        .offset9                 { padding-left: 576px; }
        .offset10                { padding-left: 640px; }
        .offset11                { padding-left: 704px; }
        /* view */
        .view-large			 { display: none}
        .view-medium			 { display: inherit}
    }
    
     /* mobile Phone */
    @media only screen and (max-width: 767px) {

        .container                          { width: 610px; }
        .col1, .col2, .col3, .col4, 
        .col5, .col6, .col7, .col8, 
        .col9, .col10, .col11, .col12       { margin-left: 0px; margin-right: 0px; margin-bottom: 20px }
        .first                              { margin-left: 0; margin-right: 0px; }
        .last                               { margin-right: 0; margin-left: 0px; }

        .col1                    { width: 580px;}
        .col2                    { width: 25%;}
        .col3, .quarter          { width: 580px;}
        .col4, .third            { width: 580px;}
        .col5                    { width: 580px;}
        .col6, .half             { width: 580px;}
        .col7                    { width: 580px;}
        .col8, .two-thirds       { width: 580px;}
        .col9                    { width: 580px;}
        .col10                   { width: 580px;}
        .col11                   { width: 580px;}
        .col12                   { width: 580px;}

        /* Offsets */
        .offset1                 { padding-left: 0px; }
        .offset2                 { padding-left: 0px; }
        .offset3                 { padding-left: 0px; }
        .offset4                 { padding-left: 0px; }
        .offset5                 { padding-left: 0px; }
        .offset6                 { padding-left: 0px; }
        .offset7                 { padding-left: 0px; }
        .offset8                 { padding-left: 0px; }
        .offset9                 { padding-left: 0px; }
        .offset10                { padding-left: 0px; }
        .offset11                { padding-left: 0px; }
        
         /* view */
        section .right{ float: left}
        .view-medium-up		{ display: none}
        .view-small			{ display:inherit}
    
    }
/* #Clearing
================================================== */

    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after {
      clear: both; }
    .row {
      zoom: 1; }
      
      
      

