/* Core variables and mixins */
/*@import "variables.less"; /* Modify this for custom colors, font-sizes, etc */
/*@import "mixins.less";*/

/* Grid system and page structure */
@import "hrbl.theme.css"; /* All styles in hrbl.master.css are built on top of hrbl.theme.css */
@import "hrbl.skeleton.css"; /* Grid */

/* Components: Font-icons */
@import "hrbl.font-icons.css";

/* Components: Buttons */
@import "hrbl.buttons.css";

/* Components: Nav 
@import "hrbl.navigation.css";
@import "navs.css";
@import "pagination.css";
@import "pager.css";*/

/* Components: Tooltips */
@import "hrbl.tooltip.css";
@import "hrbl.reveal.css";

/* Components: Misc 
@import "thumbnails.css";*/


/* Table of Contents
==================================================
	#Site Styles
	#Page Styles


/* #Site Styles
================================================== */

	header {
	width: 100%;
	height: 90px;
	padding: 0;
	top: 0;
	right: 0;
	left: 0; /* z-index is found in hrbl.theme.css */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
		 }



 	section { padding-top:1px; padding-bottom:20px; width:100%; position:relative; }

 	footer { background:#555; width:100%; color:#FFF !important; padding:10px 0; }

 	.right { float:right; }
 	.left { float:left; }
 	.middle { vertical-align:middle; }
 	.bottom { vertical-align:bottom; }
 	.top { vertical-align:top; }
 	.quiet { color:#CCC; }


	
	
	
 	#forms { background:url(../images/worn_dots.png) repeat fixed; -webkit-box-shadow:inset 0 0 5px rgba(0,0,0,.5); -moz-box-shadow:inset 0 0 5px rgba(0,0,0,.5); box-shadow:inset 0 0 5px rgba(0,0,0,.5); }
 	#modals { background:url(../images/whitey.png) repeat fixed; -webkit-box-shadow:inset 0 0 5px rgba(0,0,0,.5); -moz-box-shadow:inset 0 0 5px rgba(0,0,0,.5); box-shadow:inset 0 0 5px rgba(0,0,0,.5); }

	.box1 { display:inline-block; width:220px; padding:5px 10px; background:#eee; margin:5px 12px 5px 0;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box; }

/* #Page Styles
================================================== */
