/* #Reveal Modals
================================================== */
		
	.reveal-modal-bg { position:fixed; height:100%; width:100%; background:#000; background:rgba(0,0,0,.8); display:none; top:0; left:0; /* z-index is found in hrbl.theme.css */ }
	
	.reveal-modal { visibility:hidden; top:100px !important; left:50%; margin-left:-310px; width:540px; background:#eee url(../images/modal-gloss.png) no-repeat -200px -80px; position:fixed; padding:30px 40px 34px;
		/* z-index is found in hrbl.theme.css */
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px;
		-webkit-box-shadow:0 0 10px rgba(0,0,0,.4);
		-moz-box-shadow:0 0 10px rgba(0,0,0,.4);
		-box-shadow:0 0 10px rgba(0,0,0,.4);
		}
		
	.reveal-modal.small 		{ width: 220px; margin-left: -150px;}
	.reveal-modal.medium 		{ width: 380px; margin-left: -230px;}
	/* The default size           width: 540px; margin-left: -310px; */
	.reveal-modal.large 		{ width: 700px; margin-left: -390px;}
	.reveal-modal.xlarge 		{ width: 860px; margin-left: -470px;}
	
	.reveal-modal .close-reveal-modal { font-size:18px; line-height:.5; position:absolute; top:8px; right:11px; color:#CCC; text-shadow:0 -1px 1px rbga(0,0,0,.6); font-weight:bold; cursor:pointer; }
	.reveal-modal .close-reveal-modal:hover { color:#515151; }

	.reveal-modal > img { padding:10px; background:#FFF; border:1px solid #CCC;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px; }

	.stop-scrolling { overflow:hidden; }

	/*
	NOTES
	The Reveal Modal has been customized to fit on the grid and allows for the grid to be used within it.

	Close button entity is &#215;
	
	Example markup
	
	<div id="myModal" class="reveal-modal">
		<h2>Awesome. I have it.</h2>
		<p class="lead">Your couch.  I it's mine.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ultrices aliquet placerat. Duis pulvinar orci et nisi euismod vitae tempus lorem consectetur. Duis at magna quis turpis mattis venenatis eget id diam. </p>
		<a class="close-reveal-modal">&#215;</a>
	</div>
	*/
