/* #Buttons
================================================== */

/* Base styles
// -------------------------------------------------- */

/* Core */
.btn {
	display: inline-block;
	position:relative;
	padding: 4px 10px 4px;
	color:#555;
	line-height:21px;
	font-size:13px;
  	font-weight:bold;
  	text-decoration:none;
  	text-shadow: 0 1px rgba(255, 255, 255, .75);
	text-align: center;

	background-color: #ccc; /* Old browsers */
    background-image: -moz-linear-gradient(top,  #f3f3f3 0%, #cccccc 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #f3f3f3 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #f3f3f3 0%,#cccccc 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #f3f3f3 0%,#cccccc 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #f3f3f3 0%,#cccccc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
    background-repeat:no-repeat;
	
	border: 1px solid #CCC;
	border-bottom-color: #bbb;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	cursor: pointer; 
}
a.btn { color:#555; }

/* Hover state */
.btn:hover {
	color: #555555;
	text-decoration: none;
	background-color: #CCC;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
	-webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none;
}

/* Active state */
.btn.active,
.btn:active { color: rgba(0,0,0,.5); outline: 0; background-image: none; background-color:#ccc; top:1px; 
	-webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.5), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.5), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 2px 4px rgba(0,0,0,.5), 0 1px 2px rgba(0,0,0,.05);
}

/* Disabled state */
.btn.disabled,
.btn[disabled] { cursor: default; background-image: none; background-color:#ccc; color:rgba(0,0,0,.5);
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}


/* Button Sizes
// -------------------------------------------------- */

/* Large */
.btn-large { padding:9px 20px !important; font-size:16px !important; line-height: normal; }

/* Small */
.btn-small { padding:5px 9px !important; font-size:9px !important; line-height:11px !important; }

/* Full width buttons */
.btn.full-width { width:100%; padding-left:0 !important; padding-right:0 !important; text-align:center; }


/* Alternate buttons
// -------------------------------------------------- */

/* Set text color
// ------------------------- */
.btn-forward,
.btn-forward:hover { color:#FFF !important; border:1px solid #599441; text-shadow:0 0 1px #69b93a; }

.btn-secondary,
.btn-secondary:hover { color:#FFF !important; border:1px solid #c8862a; text-shadow:0 0 1px #f99a2e; }

/* Provide *some* extra contrast for those who can get it */
.btn-forward.active, .btn-secondary.active { color:rgba(255,255,255,.75); }

/* Set the backgrounds
// ------------------------- */
.btn-forward {
	background:#7AC143; /* Old browsers */
	background:-moz-linear-gradient(top, #8ac94c 5%, #69b93a 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #8ac94c), color-stop(1, #69b93a)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #8ac94c 5%, #69b93a 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #8ac94c 5%, #69b93a 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top, #8ac94c 5%, #69b93a 100%); /* IE10+ */
	background:linear-gradient(to bottom, #8ac94c 5%, #69b93a 100%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8ac94c', endColorstr='#69b93a',GradientType=0); /* IE6-9 */
	background-repeat:no-repeat;
}
.btn-forward:hover,
.btn-forward:active,
.btn-forward.active,
.btn-forward.disabled,
.btn-forward[disabled] {
	background-color: #69b93a;
}
.btn-forward:active,
.btn-forward.active {
	background-color: #69b93a;
}

.btn-secondary {
	background:#FAA634; /* Old browsers */
	background:-moz-linear-gradient(top,  #fbb23c 0%, #f99a2e 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbb23c), color-stop(100%,#f99a2e)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top,  #fbb23c 0%,#f99a2e 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top,  #fbb23c 0%,#f99a2e 100%); /* Opera 11.10+ */
	background:-ms-linear-gradient(top,  #fbb23c 0%,#f99a2e 100%); /* IE10+ */
	background:linear-gradient(to bottom,  #fbb23c 0%,#f99a2e 100%); /* W3C */
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbb23c', endColorstr='#f99a2e',GradientType=0 ); /* IE6-9 */
	background-repeat:no-repeat;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary.active,
.btn-secondary.disabled,
.btn-secondary[disabled] {
	background-color: #f99a2e;
}
.btn-secondary:active,
.btn-secondary.active {
	background-color: #f99a2e;
}


/* Cross-browser Jank
// -------------------------------------------------- */

button.btn,
input[type="submit"].btn {
	*padding-top: 2px;
	*padding-bottom: 2px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
	padding: 0;
	border: 0;
}
button.btn.large,
input[type="submit"].btn.large {
	*padding-top: 7px;
	*padding-bottom: 7px;
}
button.btn.small,
input[type="submit"].btn.small {
	*padding-top: 3px;
	*padding-bottom: 3px;
}
