/* Core variables and mixins */
/*@import "variables.less"; /* Modify this for custom colors, font-sizes, etc */
/*@import "mixins.less";*/

/* Grid system and page structure */
@import "hrbl.theme.css"; /* All styles in hrbl.master.css are built on top of hrbl.theme.css */
@import "hrbl.skeleton.css"; /* Grid */

/* Components: Font-icons */
@import "hrbl.font-icons.css";

/* Components: Buttons */
@import "hrbl.buttons.css";

/* Components: Nav 
@import "hrbl.navigation.css";
@import "navs.css";
@import "pagination.css";
@import "pager.css";*/

/* Components: Tooltips */
@import "hrbl.tooltip.css";
@import "hrbl.reveal.css";

/* Css Region*/
/*@import "seoul.css";*/
@import "guadalajara.css";
/*@import "bangkok.css";*/
/*@import "bangalore.css";*/

body{
	min-width: 1200px;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
body{ min-width: 800px;}
}

@media only screen and (min-width: 0px) and (max-width: 767px) {
body{ min-width: 580px;}
}