/* Core variables and mixins */
/*@import "variables.less"; /* Modify this for custom colors, font-sizes, etc */
/*@import "mixins.less";*/

/* Grid system and page structure */
@import "hrbl.theme.css"; /* All styles in hrbl.master.css are built on top of hrbl.theme.css */
@import "hrbl.skeleton.css"; /* Grid */

/* Components: Font-icons */
@import "hrbl.font-icons.css";

/* Components: Buttons */
@import "hrbl.buttons.css";

/* Components: Nav
@import "hrbl.navigation.css";
@import "navs.css";
@import "pagination.css";
@import "pager.css";*/

/* Components: Tooltips */
@import "hrbl.tooltip.css";

/* Components: Misc 
@import "thumbnails.css";*/


/* Table of Contents
==================================================
	#Site Styles
	#Page Styles


/* #Site Styles
================================================== */

	header { width:100%; height:50px; padding:0; position:fixed; top:0; right:0; left:0; z-index:1030; 
		-webkit-box-shadow:0 1px 1px rgba(0,0,0,.5), inset 0 0 7px rgba(255,255,255,1); 
		-moz-box-shadow:0 1px 1px rgba(0,0,0,.5), inset 0 0 7px rgba(255,255,255,1); 
		box-shadow:0 1px 1px rgba(0,0,0,.5), inset 0 0 7px rgba(255,255,255,1);
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffffff 0%, #d6d6d6 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 0%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 0%,#d6d6d6 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 0%,#d6d6d6 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 0%,#d6d6d6 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
		 }

 	#navigation { list-style:none; width:auto; margin:0 0 0 20px; padding:0; }
 	#navigation { *zoom: 1; *zoom: 1; }
 	#navigation:before,
	#navigation:after { display:table; content: ""; }
 	#navigation:after { clear:both; }
 	#navigation li { display:table-cell; vertical-align:middle; width:120px; height:50px; text-align:center; border-right:1px solid #ccc; text-transform:uppercase; border-left:1px solid #FFF; white-space:nowrap; 
 		-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
 		-webkit-transition: background .2s linear, color .2s linear;
		-moz-transition: background .2s linear, color .2s linear;
        -ms-transition: background .2s linear, color .2s linear;
        -o-transition: background .2s linear, color .2s linear;
		transition: background .2s linear, color .2s linear; }
 	#navigation li:hover { cursor:pointer; background:#f9f9f9; position:relative; padding-top:2px; height:49px; color:#7BC144; text-shadow:0 1px 0 #FFF; }
 	#navigation li:first-child { border-left:none; text-align:left; width:auto; padding-right:20px; text-transform:inherit; }
 	#navigation li:first-child:hover { background:transparent; }
 	#navigation li:first-child:active { background:transparent; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; }
 	#navigation li h4 { color:#333; text-shadow:0 1px 0 rgba(255,255,255,.8); margin:0; }
 	#navigation li:hover h4 { color:#000; text-shadow:0 1px 0 rgba(255,255,255,.8); }
 	#navigation li:last-child { border-right:none; width:auto; }
 	#navigation li:active { color:#555; background:#f4f4f4; -webkit-box-shadow:inset 0 0 5px rgba(0,0,0,.5); -moz-box-shadow:inset 0 0 5px rgba(0,0,0,.5); box-shadow:inset 0 0 5px rgba(0,0,0,.5);
 		-webkit-transition:none;
		-moz-transition:none;
        -ms-transition:none;
        -o-transition:none;
		transition:none; }

 	section { padding-top:1px; padding-bottom:20px; width:100%; }

 	footer { background:#555; width:100%; height:50px; color:#FFF !important; padding:10px 0; }

 	.right { float:right; }
 	.left { float:left; }
 	.middle { vertical-align:middle; }
 	.bottom { vertical-align:bottom; }
 	.top { vertical-align:top; }
 	.quiet { color:#CCC; }

 	#grid { background:url(../images/bg-body.gif) repeat fixed; -webkit-box-shadow:inset 0 0 5px rgba(0,0,0,.5); -moz-box-shadow:inset 0 0 5px rgba(0,0,0,.5); box-shadow:inset 0 0 5px rgba(0,0,0,.5); }
 	#tables { background:url(../images/whitey.png) repeat fixed; -webkit-box-shadow:inset 0 0 5px rgba(0,0,0,.5); -moz-box-shadow:inset 0 0 5px rgba(0,0,0,.5); box-shadow:inset 0 0 5px rgba(0,0,0,.5); }
 	#tooltips { background:url(../images/whitey.png) repeat fixed; -webkit-box-shadow:inset 0 0 5px rgba(0,0,0,.5); -moz-box-shadow:inset 0 0 5px rgba(0,0,0,.5); box-shadow:inset 0 0 5px rgba(0,0,0,.5); }

	.box1 { display: inline-block; width:220px; padding: 5px 10px; background: #eee; margin: 5px 12px 5px 0;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box; }

/* #Page Styles
================================================== */