/* Navigation
================================================== */


/* menu icon */
#menu-icon {
  display: none;
  /* hide menu icon initially */

}
#nav-wrap {
  *zoom: 1;
  *zoom: 1;
}
#nav-wrap:before,
#nav-wrap:after {
  display: table;
  content: "";
}
#nav-wrap:after {
  clear: both;
}
#nav {
  *zoom: 1;
  *zoom: 1;
}
#nav:before,
#nav:after {
  display: table;
  content: "";
}
#nav:after {
  clear: both;
}
#nav,
#nav li {
  margin: 0;
  padding: 0;
}
#nav li {
  list-style: none;
  float: left;
  margin-right: 5px;
}
/* nav link */
#nav a {
  padding: 5px 10px;
  display: block;
  color: #7bc144;
}
#nav a:hover,
#nav .dropdown:hover {
  background: #ffffff;
  color: #7bc144 !important;
}
#nav a:hover {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}
#nav a.nohover { -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; background:transparent; color:#333; }
#nav .dropdown:hover > a {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}
/* nav dropdown */
#nav ul {
  background: #fff;
  position: relative;
  margin: 0;
  display: none;
  /* hide dropdown */

  width: 200px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
#nav ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#nav li:hover > ul {
  display: block;
  /* show dropdown on hover */

  position: absolute;
  z-index: 10;
}
#nav li:hover > ul a:hover {
  background: #7bc144;
  color: #ffffff !important;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}
#nav li:hover > ul li:last-child a {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
#nav .drop a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}


/* Navigation on mobile devices
================================================== */

@media screen and (max-width: 767px) {
  /* nav-wrap */
  #nav-wrap {
    position: relative;
    /* make it fixed by adding: position: fixed; top:0; */
    margin: 0;
    width: 100%;
    z-index: 1030;
  }
  /* menu icon */
  #menu-icon {
    color: #ffffff;
    width: 100%;
    height: 30px;
    background: #7bc144 url(../images/menu-icon.png) no-repeat 10px center;
    padding: 8px 10px 0 42px;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    display: block;
    /* show menu icon */
  
  }
  #menu-icon:hover {
    background-color: #578b2e;
  }
  #menu-icon.active {
    background-color: #7bc144;
  }
  /* main nav */
  #nav {
    clear: both;
    position: absolute;
    top: 38px;
    width: 100%;
    padding: 0;
    background: #7bc144;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    display: none;
    /* visibility will be toggled with jquery */
  
  }
  #nav li {
    clear: both;
    float: none;
    padding: 0;
    margin: 0;
  }
  #nav li:hover ul {
    position: relative;
  }
  #nav a,
  #nav a:hover {
    font: inherit;
    background: #7bc144;
    display: block;
    padding: 8px 0;
    color: #ffffff !important;
    border: none;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    width: 100%;
  }
  #nav > li > a,
  #nav > li > a:hover,
  #nav .dropdown > a,
  #nav .dropdown:hover > a {
    border-top: 1px solid #578b2e;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    text-indent: 20px;
  }
  /* dropdown */
  #nav ul {
    width: auto;
    position: static;
    display: block;
    border: none;
    background: inherit;
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }
  #nav .drop {
    display: none;
  }
  #nav .drop a {
    background: #578b2e;
    text-indent: 40px;
  }
  #nav li:hover > ul li:last-child a {
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
  }
}
@media screen and (min-width: 768px) {
  /* ensure #nav is visible on desktop version */
  #nav {
    display: block !important;
  }
}